<template>
  <div class="main px-6">
    <div class="main-header d-flex align-items-center justify-content-between">
      <div class="main-title">
        <slot name="title"></slot>
      </div>
      <div class="main-toolbar">
        <slot name="toolbar"></slot>
      </div>
    </div>
    <div class="main-body">
      <slot name="body"></slot>
    </div>
    <div class="main-footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Main',
  }
</script>

<style lang="scss">
</style>
