<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">NavBar</b-navbar-brand>
  </b-navbar>
</template>

<script>
  export default {
    name: 'Header',
  }
</script>

<style lang="scss" scoped>
</style>
