<template>
  <b-form-input
    v-model="getValue"
    v-bind="$attrs"
    v-on:change="$emit('change', $event)">
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope"></slot>
    </template>
  </b-form-input>
</template>

<script>
  // Компоненты обвертки использую для возможности
  // иметь глобальное состояние для всех
  // компонентов. (Стили, размеры и тд) Изначальный кофиг
  export default {
    name: 'BFormInputUI',
    props: {
      value: null,
    },
    computed: {
      getValue: {
        get () {
          return this.value
        },
        set (v) {
          this.$emit('input', v)
        },
      },
    },
  }
</script>

<style scoped>

</style>
