<template>
  <b-table
      v-bind="$attrs"
      show-empty
      responsive
      v-on="$listeners">
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope"></slot>
    </template>
    <template v-slot:empty="">
      <span class="text-center">No data</span>
    </template>
  </b-table>
</template>

<script>
  // Компоненты обвертки использую для возможности
  // иметь глобальное состояние для всех
  // компонентов. (Стили, размеры и тд) Изначальный кофиг
  export default {
    name: 'BTableUI',
  }
</script>

<style lang="scss">
</style>
