<template>
  <div id="app">
    <Header/>
    <ErrorBoundary>
      <router-view />
    </ErrorBoundary>
  </div>
</template>

<script>
  import ErrorBoundary from '../components/error-boundry/index'
  import Header from './header/index';
  export default {
    name: 'LayoutAdmin',
    components: { Header, ErrorBoundary },
  }
</script>

<style scoped>

</style>
