<template>
  <Main>
    <template v-slot:title>
      <div class="d-flex align-items-center flex-wrap mr-2">
        <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Edit User</h5>
      </div>
    </template>
    <template v-slot:toolbar>
      <div class="example-tools justify-content-center">
        <router-link :to="{ name: 'indexUser' }" class="btn btn-secondary font-weight-bold btn-sm">
          Back
        </router-link>
      </div>
    </template>
    <template v-slot:body>
      <From/>
    </template>
  </Main>
</template>

<script>
  import From from "./../form";
  export default {
    name: 'editUser',
    components: { From },
  }
</script>

<style scoped>

</style>
