<template>
  <b-form class="form" @submit.stop.prevent="onSubmit">
    <b-container fluid class="p-0">
      <b-row>
        <b-col cols="12" md="8" offset-md="2">
          <b-form-group label="First Name">
            <BFormInputUI
                v-model="$v.form.firstName.$model"
                trim/>
          </b-form-group>
          <b-form-group label="Last Name">
            <BFormInputUI
                v-model="$v.form.lastName.$model"
                trim/>
          </b-form-group>
        </b-col>
        <b-col cols="12">
          <div class="text-right">
            <b-button :disabled="$v.form.$anyError" type="submit" variant="primary" size="sm">
              Submit
            </b-button>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script>
  import { validationMixin } from 'vuelidate';
  import { required } from 'vuelidate/lib/validators';
  import { mapActions, mapGetters } from 'vuex';
  import BFormInputUI from "../../../components/BUI/BFormInputUI";
  export default {
    name: "form",
    components: { BFormInputUI },
    mixins: [validationMixin],
    data () {
      return {
        form: {
          firstName: '',
          lastName: '',
        }
      }
    },
    validations: {
      form: {
        firstName: { required },
        lastName: { required },
      }
    },
    computed: {
      ...mapGetters('users', ['setItemById']),
    },
    mounted () {
      if (this.$route.params.id) this.form = Object.assign({}, this.setItemById(this.$route.params.id))
    },
    methods: {
      ...mapActions('users', ['onSave', 'onEdit']),
      onSubmit () {
        this.$v.form.$touch();
        if (!this.$v.form.$invalid) {
          this.$route.params.id ? this.onEdit(this.form) : this.onSave(this.form)
          this.$router.push({ name: 'indexUser'})
        }
      }
    }
  }
</script>

<style scoped>

</style>
