<template>
  <Main>
    <template v-slot:title>
      <h1 class="font-size-h1 mb-0">
        User list
      </h1>
    </template>
    <template v-slot:toolbar>
      <router-link
          :to="{ name: 'createUser', params: $route.params, query: $route.query }"
          class="btn btn-primary">
        Create
      </router-link>
    </template>
    <template v-slot:body>
      <BTableUI :items="getList" @row-clicked="rowClicked"/>
    </template>
  </Main>
</template>

<script>
  import { mapGetters } from 'vuex';
  import BTableUI from "../../../components/BUI/BTableUI";
  export default {
    name: "indexUser",
    components: { BTableUI },
    computed: {
      ...mapGetters('users', ['getList']),
    },
    methods: {
      rowClicked (row) {
        this.$router.push({ name: 'editUser', params: { id: row.id }})
      }
    }
  }
</script>

<style scoped>

</style>
