<template>
  <div class="error">
    <h1 class="error-title">
      Oops!
    </h1>
    <p class="error-body">
      Something went wrong here.
    </p>
  </div>
</template>

<script>
  // Примерная заглушка на случай если произойдет синтаксическая ошибка
  export default {
    name: 'ErrorContainer',
  };
</script>
<style lang="scss">
</style>
